body {
  margin: 0;
  padding: 0;
}

.navbar-default {
  background-color: rgba(255,255,255,0);
  border: none;
}

.navbar-default .container{
  padding: 50px 0;
  position: relative;
}

.navbar-brand.name {
  padding: 0;
  position: absolute;
  left: 20px;
  top: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header-background {
  height: 100vh;
  background-image: linear-gradient(180deg, #7FBFBF 40%, #CBE5E5);
}

#projects {
  height: 100vh;
}

.navbar-default .container ul.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  right: 0;
  position: absolute;
  top: 35px;
}

.container ul li {
  display: inline;
}

.container ul li a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
}

.container ul li a:hover {
  text-decoration: none; 
  color: #868686;
}

.container .left-half-div {
  height: 100vh;
  padding: 0;
}

.picture-div {
  margin-top: calc(100vh/2 - 125px);
}

.headshot {
  height: 250px;
  width: 250px;
  background-color: black;
  margin: auto;
  border-radius: 50%;
  
}

h1 {
  text-align: center;
  margin-top: 155px;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  color: #868686;
}

.project {
  text-align: center;
}

.project div {
  width: 85%;
  border: solid 1px black;
  margin: 0 auto;
  height: 220px;
  border-radius: 20px;
}

#projects section {
  margin-top: 60px;
}